@model BikeStore.Models.CartInfo

@{
    ViewData["Title"] = "Checkout";
}
<section>
    <img src="~/images/mix.png" class="img-fluid" />
</section>
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Total Quantity: @ViewData["Quantity"] Total Price: $ @ViewData["Total"]</h1>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Checkout">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CartID" />
                <input type="hidden" asp-for="UserID" />
                <input type="hidden" asp-for="CartDate" />
                <input type="hidden" asp-for="CartStatus" />
                <input type="hidden" asp-for="OrderDate" />
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <textarea asp-for="Address" class="form-control"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactNo" class="control-label"></label>
                    <input asp-for="ContactNo" class="form-control" />
                    <span asp-validation-for="ContactNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Process Order" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
