@model BikeStore.Models.ItemCategory

@{
    ViewData["Title"] = "Create";
}
<section>
    <img src="~/images/admin.png" class="img-fluid" />
</section>
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Item Category Operations</h1>
        <p>Add New Item Category</p>
    </div>
    <p>
        <a asp-action="Index" class="btn btn-dark">Back To List</a>
    </p>
    <hr />
    <div class="row">
        <div class="card col-md-4 border-0">
            <img class="card-img-top img-fluid" src="~/images/save.png" alt="" style="width:100%">
        </div>
        <div class="col-md-8">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ItemCategoryName" class="control-label"></label>
                    <input asp-for="ItemCategoryName" class="form-control" />
                    <span asp-validation-for="ItemCategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add New Item Category" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>

</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
