@model BikeStore.Models.ItemInfo

@{
    ViewData["Title"] = "Edit";
}
<section>
    <img src="~/images/admin.png" class="img-fluid" />
</section>
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Item Info Operations</h1>
        <p>Edit Item Info</p>
    </div>
    <p>
        <a asp-action="Index" class="btn btn-dark">Back To List</a>
    </p>
    <hr />
    <div class="row">
        <div class="card col-md-4 border-0">
            <img class="card-img-top img-fluid" src="~/images/check.png" alt="" style="width:100%">
        </div>
        <div class="col-md-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ItemID" />
                <input type="hidden" asp-for="Extension" />
                <div class="form-group">
                    <label asp-for="ItemName" class="control-label"></label>
                    <input asp-for="ItemName" class="form-control" />
                    <span asp-validation-for="ItemName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemPrice" class="control-label"></label>
                    <input asp-for="ItemPrice" class="form-control" />
                    <span asp-validation-for="ItemPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemDescription" class="control-label"></label>
                    <textarea asp-for="ItemDescription" class="form-control"></textarea>
                    <span asp-validation-for="ItemDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemFeature" class="control-label"></label>
                    <textarea asp-for="ItemFeature" class="form-control"></textarea>
                    <span asp-validation-for="ItemFeature" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemSubCategoryID" class="control-label"></label>
                    <select asp-for="ItemSubCategoryID" class="form-control" asp-items="ViewBag.ItemSubCategoryID"></select>
                    <span asp-validation-for="ItemSubCategoryID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save Item Information" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
